.add-edit-main {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  margin-top: 4rem;
}
/* .add-edit-main .title-logout {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  color: black;
}
.add-edit-main .title-logout div {
  font-size: 16px;
  background-color: transparent;
  border: white 2px solid;
  border-radius: 2rem;
  min-width: 6rem;
  max-height: 2rem;
  display: flex;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
}
.add-edit-main .title-logout div img {
  width: 24px;
}
.add-edit-main form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
  text-align: left;
  left: 50%;
  transform: translate(-50%, 0%);
}
.add-edit-main form label {
  margin-top: -1rem;
}
.add-edit-main form label input {
  width: 195px;
  padding: 0.2rem 0.75rem;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
  transform: translate(5rem, -2.25rem);
  border-bottom: 1px white solid;
  text-align: center;
}
.add-edit-main form label input::placeholder {
  color: rgba(235, 235, 235, 0.705);
}
.add-edit-main form .buttons {
  text-align: center;
}
.add-edit-main form .buttons button {
  cursor: pointer;
  min-width: 137px;
  min-height: 35px;
  padding: 10px 27px;
  border-radius: 1rem;
  border: none;
  color: white;
}
.add-edit-main form .buttons .add-update {
  background: rgba(55, 18, 163, 0.75);
}
.add-edit-main form .buttons .delete {
  background: rgba(163, 18, 78, 0.75);
  margin: 0 0 0 2rem;
} */

body{background-color:#FFEBEE}
.card{
  width:400px;
  background-color:#fff;
  border-color: #ca5353;
  border-radius: 12px
}
label.radio{cursor: pointer;width: 100%}
label.radio input{
  position: absolute;top: 0;left: 0;visibility: hidden;pointer-events: none
}
label.radio span{
  padding: 7px 14px;border: 2px solid #eee;display: inline-block;color: #039be5;border-radius: 10px;width: 100%;height: 48px;line-height: 27px
}
label.radio input:checked+span{
  border-color: #039BE5;background-color: #81D4FA;color: #fff;border-radius: 9px;height: 48px;line-height: 27px
}
.form-control{
  margin-top: 10px;height: 48px;border: 2px solid #eee;border-radius: 10px
}
.form-control:focus{
  box-shadow: none;border: 2px solid #039BE5
}
.agree-text{
  font-size: 12px
}
.terms{
  font-size: 12px;text-decoration: none;color: #039BE5
}
.confirm-button{
  height: 50px;border-radius: 10px
}